DATABASE_USER = postgres
DATABASE_PASSWORD = admin
DATABASE_NAME = customerx
DATABASE_HOST = localhost
DATABASE_PORT = 5432

REDIS_HOST = localhost
REDIS_PORT = 6379

DISCORD_WEBHOOK_URL = https://discord.com/api/webhooks/

SECRET_KEY = your_secret_key
IS_DEV = True

ACCESS_TOKEN_EXPIRE_MINUTES =
REFRESH_TOKEN_EXPIRE_MINUTES =