@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
  background: var(--color-white-shade-one);
}

:root {
  --color-white-shade-one: #FFFFFF;
  --color-white-shade-two: #EEF1F8;
  --color-white-shade-three: #f5f5f5;

  --color-purple-shade-one: #A691F1;
  --color-purple-shade-two: #6A74C9;

  --color-red-shade-one: red;

  --color-border: rgb(172, 172, 172);

  --color-primary-text-color: rgb(27, 27, 27);
  --color-secondary-text-color: rgb(28, 27, 27);
}


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-white-shade-one);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple-shade-two);
  border-radius: 20px;
  border: 2px solid var(--color-white-shade-one); /* optional padding */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-purple-shade-two);
  opacity: 0.8;
}

/* Firefox */
* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: var(--color-purple-shade-two) var(--color-white-shade-one);
}